.wrap {
	position: fixed;
	width: 100%;
	height: 100%;
}
video {
    position : absolute;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
    z-index : -1;
    background-size: cover;
}
.intro {
	float: left;
	width: 30%;
	height: 100%;
}
.portPolio {
	position: relative;
	float: right;
	width: 70%;
	height: 100%;
}
.portPolio > a {display: inline-block;}
.p-p-link {
	position: absolute;
	border: 4px solid silver;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	transition: all ease-out 2s;
}
.first-link {top: 8%; left: 5%;}
.second-link {top: 46%; right: 5%;}
.third-link {bottom: 8%; right: 30%;}
.first-link.on {top: 5%;}
.second-link.on {top: 43%;}
.third-link.on {bottom: 5%;}

