body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li {list-style:none;}
a {text-decoration:none;}
table {border-collapse: collapse}