.main {width: 100%; display: block; background: #e4e4e4;}
.content-wrap {
    width: 100%;
    margin: 0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #F594D3;
}
.content-left {
    background: #0b0809;
    color: #F594D3;
    float: left;
    width: 100%;
    padding: 30px;
}
.main-wrap {text-align: center; padding: 20px 0 0 0;}
.main-date {font-size: 120px; font-weight: bold; margin: 20px 0;}
.todo-wrap {padding: 0 0 0 40px;}
.todo-title {font-size: 20px; font-weight: 100; margin: 0 0 10px 0;}
.input-box {
    width: 50%;
    height: auto;
    margin-right: 20px;
    background: #0b0809;
    color: #F594D3;
    padding: .8em .5em 0 0;
    border: 0;
    border-bottom: 1px solid #F594D3;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.input-data {
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #F594D3;
    color: #0b0809;
    border: none;
    border-radius: 10px;
}
.input-data:hover {background: #ffffff; color: #0b0809;}
.input-list {overflow: hidden;}
.input-list > li > span {width: 80%; display: inline-block;}
.input-list > li+li {margin-top: 10px;}
.input-list > .checked {color: #ffffff; text-decoration: line-through;}
.del-data {
    cursor: pointer;
    font-size: 10px;
    background: #ffffff;
    border: none;
    color: red;
    border-radius: 10px;
}
.input-list > li{
    width: 100%;
    font-size: 10px;
    float: left;
    color: #F594D3;
}
.content-right {float: right; width: 90%; padding: 10px; position: relative;}
.sun {color: #f02f2f;}
.sat {color: #2208e7;}
.content-right table tr td {
    width: 40px; 
    height: 40px; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}
.active {
    background: #0b0809;
    
    color: #ffffff;
}
.today {
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #0b0809;
    color: #F594D3;
    border: none;
    border-radius: 10px;
}

@media(min-width: 850px){
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #d4d4d4;
}
.content-wrap {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #F594D3;
}
.content-left {
    overflow: scroll;
    box-sizing: border-box;
    background: #0b0809;
    color: #F594D3;
    float: left;
    width: 47%;
    height: 100%;
    padding: 90px 20px 20px 0;
}
.main-wrap {text-align: center; margin: 20px 0 0 0;}
.main-day {font-size: 30px; font-weight: bold;}
.main-date {font-size: 120px; font-weight: bold; margin: 20px 0;}
.todo-wrap {padding: 0 0 0 40px;}
.todo-title {font-size: 20px; font-weight: 100; margin: 0 0 10px 0;}
.input-box {
    width: 70%;
    height: auto;
    background: #0b0809;
    color: #F594D3;
    padding: .8em .5em 0 0;
    border: 0;
    border-bottom: 1px dashed #F594D3;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.input-data {
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0 30px 0;
    background: #F594D3;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list {overflow: hidden;}
.input-list > li{
    width: 100%;
    font-size: 10px;
    float: left;
    color: #F594D3;
}
.input-list > li > span {width: 80%; display: inline-block;}
.input-list > li+li {margin-top: 10px;}
.del-data {
    cursor: pointer;
    font-size: 10px;
    background: #ffffff;
    border: none;
    color: red;
    border-radius: 10px;
}
.content-right{
    box-sizing: border-box;
    float: right;
    width: 53%;
    height: 100%;
    padding: 100px 20px 20px 20px;
}
.calendar {margin: 0 auto;}
.sun {color: #f02f2f;}
.sat {color: #2208e7;}
.content-right table tr td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}
.active {background: #0b0809;  color: #ffffff;}
}
@media screen and (min-width:421px) and (max-width: 859px) {
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #d4d4d4;
}
.content-wrap {
    position: relative;
    width: 100%;
    height:100%;
    margin: 0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #F594D3;
}
.content-left {
    overflow: scroll;
    box-sizing: border-box;
    background: #0b0809;
    color: #F594D3;
    float: none;
    width: 100%;
    height: 47%;
    padding: 90px 20px 20px 0;
}
.main-wrap {text-align: center; margin: 20px 0 0 0;}
.main-day {font-size: 30px; font-weight: bold;}
.main-date {font-size: 120px; font-weight: bold; margin: 20px 0;}
.todo-wrap {padding: 0 0 0 40px;}
.todo-title {font-size: 20px; font-weight: 100; margin: 0 0 10px 0;}
.input-box {
    width: 70%;
    height: auto;
    background: #0b0809;
    color: #F594D3;
    padding: .8em .5em 0 0;
    border: 0;
    border-bottom: 1px dashed #F594D3;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.input-data {
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0 30px 0;
    background: #F594D3;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list {overflow: hidden;}
.input-list > li{
    width: 100%;
    font-size: 10px;
    float: left;
    color: #F594D3;
}
.input-list > li > span {width: 80%; display: inline-block;}
.input-list > li+li {margin-top: 10px;}
.del-data {
    cursor: pointer;
    font-size: 10px;
    background: #ffffff;
    border: none;
    color: red;
    border-radius: 10px;
}
.content-right{
    position: static;
    box-sizing: border-box;
    float: right;
    width: 100%;
    height: 53%;
    padding: 30px;
}
.calendar {margin: 0 auto; width: 100%; height: 100%;}
.sun {color: #f02f2f;}
.sat {color: #2208e7;}
.content-right table tr td {
    width: calc(100% / 7);
    height: calc(100% / 7);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
}
.active {background: #0b0809; color: #ffffff;}
.today {
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #F594D3;
    color: #0b0809;
    border: none;
    border-radius: 10px;
}
}

@media screen and (max-width: 420px){
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #d4d4d4;
}
.content-wrap {
    position: relative;
    width: 100%;
    height:100%;
    margin: 0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #F594D3;
}
.content-left {
    overflow: scroll;
    box-sizing: border-box;
    background: #0b0809;
    color: #F594D3;
    float: none;
    width: 100%;
    height: 45%;
    padding: 0;
}
.main-wrap {text-align: center; margin: 20px 0 0 0;}
.main-day {font-size: 30px; font-weight: bold;}
.main-date {font-size: 60px; font-weight: bold; margin: 10px 0;}
.todo-wrap {padding: 0 0 0 40px;}
.todo-title {font-size: 15px; font-weight: 100; margin: 0 0 0 0;}
.input-box {
    width: 70%;
    height: auto;
    background: #0b0809;
    color: #F594D3;
    padding: 0 0 0 0;
    border: 0;
    border-bottom: 1px dashed #F594D3;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.input-data {
    cursor: pointer;
    font-size: 10px;
    padding: 6px;
    margin: 0 0 15px 0;
    background: #F594D3;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list {overflow: hidden;}
.input-list > li{
    width: 100%;
    font-size: 10px;
    float: left;
    color: #F594D3;
}
.input-list > li > span {width: 80%; display: inline-block;}
.input-list > li+li {margin-top: 10px;}
.del-data {
    cursor: pointer;
    font-size: 10px;
    background: #ffffff;
    border: none;
    color: red;
    border-radius: 10px;
}
.content-right{
    position: static;
    box-sizing: border-box;
    float: right;
    width: 100%;
    height: 55%;
    padding: 20px 10px;
}
.calendar {margin: 0 auto; width: 100%; height: 100%;}
.sun {color: #f02f2f;}
.sat {color: #2208e7;}
.content-right table tr td {
    width: calc(100% / 7);
    height: calc(100% / 7);
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    cursor: default;
}
.active {background: #0b0809; color: #ffffff;}
.today {
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
    font-size: 10px;
    padding: 8px;
    margin: 10px 0 10px 0;
    background: #F594D3;
    color: #0b0809;
    border: none;
    border-radius: 10px;
}

}
