/* layout */
#wrap {
    overflow: hidden;
    position: relative;
    letter-spacing: -0.7px;
    margin: 0;
    padding: 0;
    min-width: 320px;
}
.main_page {position: relative; width: 100%;}
.contentMain {width: 100%; margin: 0 0 100px 0;}
/* common */
span.blind {width:0; height: 0; text-indent: -9999px; font-size: 0;}
span.block_span {display: block;}
.fs_02 {font-size: 24px;}
.fs_01 {font-size: 36px;}
.main_cont_wrap, .contentMore {
    position: relative;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
[class^="main_cont_0"] {margin-top: 60px;}
.main_cont_wrap .cont_area, .cont_border {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #eeecec;
    border-bottom: 6px solid #373737;
}
.main_cont_wrap .cont_area .cont_link {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
.main_cont_wrap .cont_area .cont_link .cont_wrap {display: block; width: 100%;}
.cont_link .cont_wrap .cont_img {width: 100%;}
.main_cont_01 .main_cont_wrap .cont_area {width: 570px; height: 524px;}
.main_cont_wrap .cont_area.first {margin-right: 30px;}
.main_cont_02 .main_cont_wrap .cont_area {width: 370px; height: 440px;}
.main_cont_04 .main_cont_wrap .cont_area {border: none; float: none;}
.main_cont_wrap .cont_border::after, .cont_border::after {
    content: '';
    display: block;
    width: 0;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: -6px;
    right: 0;
    margin: 0 auto;
    opacity: 0;
}
.main_cont_wrap .cont_border:hover::after, .cont_border::after {
    content: '';
    width: 100%;
    background: #f2c000;
    transition: opacity 0.01s, width 0.5s;
    opacity: 1;
}
.main_cont_wrap .cont_area figcaption {
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
    font-weight: 500;
}
.main_cont_wrap .cont_area .cont_more {
    position: absolute;
    left: 25px;
    bottom: 27px;
    text-align: center;
    display: block;
    color: #5c5953;
    margin-left: 25px;
    font-weight: 400;
    font-size: 14px;
}
.main_cont_wrap .cont_area .cont_more::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    margin-left: -25px;
    width: 20px;
    height: 20px;
    background: url('../images/btn_link.png') left top no-repeat;
    background-size: 40px 20px;
    transition-duration: 0.2s;
}
.main_cont_wrap .cont_area:hover .cont_more::before {background-position: -20px 0;}
.main_cont_wrap .intro_txt {margin-top: 35px; color: #333; line-height: 24px;}
.main_cont_wrap .intro_txt::before {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color: #373737;
    margin-bottom: 15px;
}
/* header css */
header {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}
/* header > topBar */
.hd_topBar {
    position: relative;
    width: 100%;
    text-align: right;
    z-index: 9;
    overflow: hidden;
}
.hd_topBar .middleArea_top {
    display: block;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
.hd_topBar .middleArea_top ul {
    overflow: hidden;
    width: 194px;
    float: right;
}
.hd_topBar .middleArea_top ul li {
    text-align: center;
    position: relative;
    vertical-align: middle;
    float: left;
}
.hd_topBar .middleArea_top ul li:first-child::before {display: none;}
.hd_topBar .middleArea_top ul li:last-child::before {display: none;}
.hd_topBar .middleArea_top ul li::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 1px;
    height: 10px;
    background-color: #dddcdc;
    margin-top: 1px;
}
.hd_topBar .middleArea_top ul li a {
    font-size: 11px;
    color: #fff;
    padding: 9px 14px 9px 14px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: 30px;
}
.hd_topBar .middleArea_top ul li.sns_insta > a {padding: 9px 7px 9px 14px;}
.hd_topBar .middleArea_top ul li.sns_insta > a::before {
    content: '';
    display: inline-block;
    background: url('../images/icon_sns_01.png') left top no-repeat;
    background-position: -28px 0;
    width: 14px;
    height: 14px;
    background-size: 56px 14px;
}
.hd_topBar .middleArea_top ul li.sns_facebook > a {padding: 9px 0;}
.hd_topBar .middleArea_top ul li.sns_facebook > a::before {
    content: '';
    display: inline-block;
    background: url('../images/icon_sns_01.png') left top no-repeat;
    background-position: -42px 0;
    width: 14px;
    height: 14px;
    background-size: 56px 14px;
}

/* header > gnb */
.hd_gnb.fix {
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    background: #373737;
    z-index: 99;
}
.hd_gnb.fix .middleArea_gnb {background: #373737; height: 60px;}
.hd_gnb.fix .middleArea_gnb .logo {width: 27px; height: 28px; top: 16px;}
.hd_gnb.fix .middleArea_gnb .logo h1 a {width: 27px; height: 28px;}
.hd_gnb.fix .middleArea_gnb .logo h1 a::before {
    content: '';
    width: 27px;
    height: 28px;
    display: inline-block;
    background: url('../images/logoSmall.png') left top no-repeat;
    background-size: 27px 28px;
}
.hd_gnb.fix .middleArea_gnb .gnb_menu > ul {margin-left: 337px; height: 60px;}
.hd_gnb.fix .middleArea_gnb .gnb_menu > ul > li.dp1 {height: 60px;}
.hd_gnb.fix .middleArea_gnb .gnb_menu ul li.dp1 > .dp1_title {
    position: relative;
    display: block;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    color: #fff;
}
.hd_gnb.fix .middleArea_gnb .gnb_menu > ul li.dp1 > .dp2 {padding-top: 60px; box-sizing: border-box;}
.hd_gnb.fix .middleArea_gnb .gnb_menu > ul:hover+.subMenu_layer {top: 60px;}
.middleArea_gnb {
    position: relative;
    background: #fff;
    width: 1170px;
    height: 90px;
    margin: 0 auto;
    box-sizing: border-box;
}
.middleArea_gnb .logo {
    position: absolute;
    top: 22px;
    left: 30px;
    width: 109px;
    height: 46px;
    z-index: 999;
}
.middleArea_gnb .logo h1 {display: block; width: 100%; height: 100%;}
.middleArea_gnb .logo h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
.middleArea_gnb .logo h1 a::before {
    content: '';
    width: 109px;
    height: 46px;
    display: block;
    background: url('../images/logo.png') left top no-repeat;
}
.middleArea_gnb .gnb_menu {
    width: 100%; 
    height: 90px; 
    overflow: hidden;
    transition: all ease 0.6s;
}
.middleArea_gnb.on .gnb_menu {height: 350px; background-color: #f6f5f5; opacity: 0.96;}
.middleArea_gnb .gnb_menu > ul {margin-left: 337px; height: 100%;}
.middleArea_gnb .gnb_menu ul li.dp1 {
    position: relative;
    height: 100%;
    text-align: center;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.1px;
    box-sizing: border-box;
    float: left;
}
.middleArea_gnb .gnb_menu ul li.dp1 > .dp1_title {
    position: relative;
    display: block;
    padding: 36px 0 0 0;
    height: 100%;
    box-sizing: border-box;
}
.middleArea_gnb .gnb_menu ul li.dp1 > .dp1_title::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #fff;
    margin: 0 auto;
    opacity: 1;
}
.middleArea_gnb .gnb_menu ul li.dp1:hover > .dp1_title::after {
    content: '';
    opacity: 1;
    width: 100%;
    background-color: #f6ca00;
    transition: opacity 0.2s, width 0.3s;
    -webkit-transition: opacity 0.2s, width 0.3s;
}
.middleArea_gnb .gnb_menu > ul li.dp1 > .dp2 {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px;
    padding-top: 90px;
    width: 100%;
    height: 0;
    text-align: center;
    box-sizing: border-box;
}
.middleArea_gnb .gnb_menu > ul li.dp1 > .dp2 > li {position: relative; z-index: 9;}
.middleArea_gnb .gnb_menu > ul li.dp1 > .dp2 > li > a {
    padding: 9px 5px;
    height: 36px;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    box-sizing: border-box;
}
/* m_gnbMenu */
.middleArea_gnb .m_gnbMenu {
    display: none;
}

/* mainVisual */
/* bx-slider 기존 css 수정 시 우선순위를 높혀줘야 한다. */
.main_visual {width: 100%; overflow: hidden; height: 650px;}
.main_visual > .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 0;
    position: relative;
    height: 100%;
}
.main_visual > .bx-wrapper .bx-viewport {height: 100%;}
.slider {overflow: hidden; width: 100%; height: 100%;}
.slider > li {
    float: left;
    width: 100%;
    height: 100%;;
}
.slide_01 {background: url('../images/slider1.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_02 {background: url('../images/slider2.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_03 {background: url('../images/slider3.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_04 {background: url('../images/slider4.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_05 {background: url('../images/slider5.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_06 {background: url('../images/slider6.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_07 {background: url('../images/slider7.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_08 {background: url('../images/slider8.jpg') no-repeat 50% 50%; background-size: cover;}
.slide_09 {background: url('../images/slider9.jpg') no-repeat 50% 50%; background-size: cover;}
.slider > li > a {display: block; width: 100%; height: 100%;}
.bx-wrapper .bx-controls .bx-controls-direction {display: none;}
.main_visual .bx-wrapper .bx-controls {
    position: absolute; 
    left:0; 
    bottom: 50px; 
    height: 30px; 
    width: 100%; 
}
.main_visual .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager  {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 100%;
    width: 1170px;
    padding-top: 0;
    text-align: left;
    transform: translateX(-50%);
}
.main_visual .bx-wrapper .bx-pager .bx-pager-item {
    width: 50px;
    height: 4px;
    background: #cfc6bc;
    margin-right: 7px;
    vertical-align: bottom;
}
.main_visual .bx-wrapper .bx-pager .bx-pager-item > a {
    background: #cfc6bc;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
}
.main_visual .bx-wrapper .bx-pager.bx-default-pager a.active {background: #f6ca00;}
.main_visual .bx-wrapper .bx-pager.bx-default-pager a:hover {background: none;}
.main_visual .bx-wrapper .bx-controls-auto {bottom: 0;}
.main_visual .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {height: 100%; width: auto; right: 48%;}
.main_visual .bx-wrapper .bx-controls-auto .bx-controls-auto-item{width: 30px; height: 30px; float: left; margin-right: 8px;}
.main_visual .bx-wrapper .bx-controls-auto .bx-start {
    width: 100%;
    height: 100%;
    background: url('../images/icon_play.png') -30px 0 no-repeat;
    background-size: 60px 30px;
    margin: 0;
}
.main_visual .bx-wrapper .bx-controls-auto .bx-stop {
    width: 100%;
    height: 100%;
    background: url('../images/icon_play.png') 0 0 no-repeat;
    background-size: 60px 30px;
    margin: 0;
}
.main_visual .bx-wrapper .bx-controls-auto .bx-start:hover, 
.main_visual .bx-wrapper .bx-controls-auto .bx-start.active {background-position: -30px 0;}
.main_visual .bx-wrapper .bx-controls-auto .bx-stop:hover,
.main_visual .bx-wrapper .bx-controls-auto .bx-stop.active {background-position: 0 0;}

/* main_cont_02 */
.main_cont_02 .main_intro {
    width: 370px;
    height: 440px;
    background-color: #f6ca00;
    padding: 45px 30px 0 30px;
    box-sizing: border-box;
    margin-right: 30px;
    float: left;
}
.main_cont_02 .main_intro .intro_title {line-height: 45px;}

/* main_cont_03 */
.main_cont_03 {width: 100%; height: 600px; position: relative; overflow: hidden;}
.main_cont_03:hover .main_hansot_bg {transform: scale(1.05); -webkit-transform: scale(1.05);}
.main_cont_03 .main_cont_wrap {height: 100%;}
.main_cont_03 .main_hansot_bg {
    background: url('../images/main_visual_02.jpg') 50% 50% no-repeat; 
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.main_cont_03 .main_intro {
    position: relative;
    width: 370px;
    height: 100%;
    padding: 80px 25px 60px 25px;
    color: #fff;
    box-sizing: border-box;
    background: #373737;
    opacity: 0.9;
}
.main_cont_03 .main_intro .intro_txt > span {
    font-weight: 400; 
    color:#dad8d8;
    line-height: 28px;
}
.main_cont_03 .main_intro .intro_txt::before {background-color: #fff;}
.main_cont_03 .cont03_btn {
    margin: 100px 0 0 0;
    width: 170px;
    display: block;
    min-height: 60px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #fff;
} 
.main_cont_03 .cont03_btn > a {
    display: block; 
    width: 100%; 
    height: 100%; 
    color: #fff; 
    padding: 20px 0; 
    font-weight: 500; 
    transition-duration: 0.3s;
}
.main_cont_03 .cont03_btn:hover > a {background-color: #fff; color: #373737;}
/* main_cont_04 */
.main_cont_04 {height: 450px;}
.main_cont_04 .main_cont_wrap .cont_area .cont_wrap {height: 100%;}
.main_cont_04 .main_cont_wrap .cont_area .cont_link .cont_img {width: 800px; height: 100%; display: block; float: left;}
.main_cont_04 .main_cont_wrap .cont_area .cont_link figcaption {
    position: relative;
    width: 370px; 
    height: 100%;
    box-sizing: border-box; 
    float: left;
    padding: 43px 22px 0 26px;
}
.main_cont_04 figcaption .intro_txt > span {line-height: 24px; font-weight: 400;}
/* contentMore */
.contentMore{margin: 100px auto;}
.contentMore .more_title {
    position: relative;
    padding-bottom: 60px;
    max-width: 1170px;
    font-size: 24px;
    color: #373737;
    font-weight: 700;
    margin: 0 auto;
}
.contentMore .more_title::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1005px;
    height: 16px;
    display: block;
    background-color: #373737;
    margin: 5px 0 0 165px;    
}
.contentMore .contMore_box {
    width: 32%;
    height: 266px;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.contentMore .contMore_box+.contMore_box {margin-left: 2%;}
.contentMore .contMore_box > a {
    display: block;
    width: 100%;
    height: 100%;
}
.contentMore figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 0 30px;
    height: 61px;
    box-sizing: border-box;
    width: 100%;
    background: #373737;
}
.contentMore figcaption > p {
    color: #fff;
    position: relative;
    padding: 22px 0 20px 0;
    font-size: 15px;
    height: 60px;
    box-sizing: border-box;
    transition-duration: 0.5s;
}
.contMore_box:hover figcaption > p {
    color: #f6ca00;
}
.contMore_box figcaption > p::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25px;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition-duration: 0.5s;
}
.contMore_box:hover figcaption > p::after {
    content: '';
    border-top: 2px solid #f6ca00;
    border-right: 2px solid #f6ca00;
}
/* footer */
footer {
    position: relative;
    width: 100%;
    height: 310px;
    padding: 0 0 40px 0;
    background: #f2c000;
    box-sizing: border-box;
}
.ft_content {
    width: 1170px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.ft_content .ft_menu {
    padding-top: 45px;
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.ft_content .ft_menu > li {
    position: relative;
    float: left;
    padding: 0 13px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
}
.ft_content .ft_menu > li+li::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 14px;
    background: #373737;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.webaward {
    position: absolute;
    top: 18px;
    right: 100px;
}
.webaward::before {
    content: '';
    display: inline-block;
    width: 174px;
    height: 60px;
    background: url('../images/logo_webaward2017.png') left top no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
}
.ft_info_wrap {
    padding-top: 16px;
    margin-top: 25px;
    border-top: 1px solid #dfb206;
}
.ft_info {width: 1000px; margin: 0 auto; font-weight: 500;}
.ft_info > span {
    padding: 0 8px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
.ft_info > span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #bc970a;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ft_info > .first_cont::before  {display: none;}
.mo_info {display: none;}
.copyright {padding-top: 27px;}
.copyright > span {font-size: 13px;}
.ft_sns {
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
}
.ft_sns > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
}
.ft_sns > a::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}
.ft_sns > .insta {
    background: url('../images/icon_sns_02.png') left top no-repeat;
    background-position: 0 0;
    background-size: 80px 40px;
}
.ft_sns > .facebook {
    background: url('../images/icon_sns_02.png') left top no-repeat;
    background-position: -40px 0;
    background-size: 80px 40px;
}
.ft_sns > a+a {margin-left: 10px;}

@media (max-width: 1190px){
.main_cont_wrap .cont_area, .cont_border {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #eeecec;
    border-bottom: 6px solid #373737;
}
.main_cont_wrap .cont_area .cont_link {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
.main_cont_wrap .cont_area .cont_link .cont_wrap {display: block; width: 100%;}
.cont_link .cont_wrap .cont_img {width: 100%;}
.main_cont_01 .main_cont_wrap .cont_area {width: 570px; height: 524px;}
.main_cont_wrap .cont_area.first {margin-right: 30px;}
.main_cont_02 .main_cont_wrap .cont_area {width: 370px; height: 440px;}
.main_cont_04 .main_cont_wrap .cont_area {border: none; float: none;}
.main_cont_wrap .cont_border::after {
    content: '';
    display: block;
    width: 0;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: -6px;
    right: 0;
    margin: 0 auto;
    opacity: 0;
}
.main_cont_wrap .cont_border:hover::after{
    content: '';
    width: 100%;
    background: #f2c000;
    transition: opacity 0.01s, width 0.5s;
    opacity: 1;
}
.main_cont_wrap .cont_area figcaption {
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
    font-weight: 500;
}
.main_cont_wrap .cont_area .cont_more {
    position: absolute;
    left: 25px;
    bottom: 27px;
    text-align: center;
    display: block;
    color: #5c5953;
    margin-left: 25px;
    font-weight: 400;
    font-size: 14px;
}
.main_cont_wrap .cont_area .cont_more::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    margin-left: -25px;
    width: 20px;
    height: 20px;
    background: url('../images/btn_link.png') left top no-repeat;
    background-size: 40px 20px;
    transition-duration: 0.2s;
}
.main_cont_wrap .cont_area:hover .cont_more::before {background-position: -20px 0;}
.main_cont_wrap .intro_txt {margin-top: 35px; color: #333; line-height: 24px;}
.main_cont_wrap .intro_txt::before {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color: #373737;
    margin-bottom: 15px;
}


}


