/* layout */
.wrap {
    position: relative;
    width: 100%;
    min-height: 800px;
    height: 100%;
}
/* centerNavi part start */
.centerNavi {position: fixed; left: 50%; top: 0; bottom: 0; transform: translateX(-50%); width: 25%;}
.menuBtn, .menuBtn > span {transition: all .4s; box-sizing: border-box;}
.menuBtn {position: fixed; top: 3%; left: 50%; transform: translateX(-50%); width: 45px; height: 40px; z-index: 999; }
.menuBtn span {position: absolute; left: 0; width: 100%; height: 4px; background-color: silver; border-radius: 4px;}
.menuBtn span:nth-child(1) {top:0;}
.menuBtn span:nth-child(2) {top:50%; transform: translateY(-50%)}
.menuBtn span:nth-child(3) {bottom:0;}
.menuBtn.active {transform: rotate(360deg); transform: translateX(-50%); }
.menuBtn.active span:nth-child(1) {transform: translateY(20px) rotate(-45deg);}
.menuBtn.active span:nth-child(2) {transform: translateY(0) rotate(45deg);}
.menuBtn.active span:nth-child(3) {opacity: 0;}
.menuBtn > span > i {
    transition: all ease .7s; 
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 4px; 
    background-color: #ee6b23;
    border-radius: 4px;
}
.menuBtn:hover span > i {width: 100%;}
.logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
}
.logo > img {display: block; width: 100%;}
/* centerNavi part end */

/* openNavi start */
.openMenu {display: none;}
.openMenu.active  {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1a19;
    opacity: 0.8;
}
.openMenu.active .menuList {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
}
.menuList > li {margin-top: 20px;}
.menuList > li > a {display: block; text-align: center; color: #fff; font-size: 40px; font-weight: 600; letter-spacing: 4px;}
.menuList > li > a:hover {color: #ee6b23;}
.openMenu.active .snsList {
    position: absolute;
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
}
.snsList > li {margin: 10px; width: 30px; height: 30px; background-color: #fff; border-radius: 50%}
.snsList > li:nth-child(1) > a {display: block; width: 100%; height: 100%; background: url('../images/facebook.png') no-repeat center center/ 30px 30px;}
.snsList > li:nth-child(2) > a {display: block; width: 100%; height: 100%; background: url('../images/instagram.png') no-repeat 3px 3px/ 25px 25px;}
.snsList > li:nth-child(3) > a {display: block; width: 100%; height: 100%; background: url('../images/twitter.png') no-repeat 3px 2px/ 27px 27px;}
.snsList > li:hover {opacity: 0.7;}
/* openNavi end */

/* contents Box setting */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.left-part, .right-part {width: 34%; margin-bottom: 2%;}
.left-part {margin-left: 3%;}
.right-part {margin-right: 3%;}
.outBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 480px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    opacity: 0.9;
    border-radius: 20px;
}
.outBox+.outBox {margin-top: 5%;}
.outBox * {transition: all 0.45s ease-in-out;}
.outBox > img {display: block; width: 100%;}
.contentsBox {
    position: absolute; 
    top: 80%;
    left: 50%;
    bottom: 15%;
    width: 90%; 
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid #000000;
}
.contentsBox > p {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    opacity: 0; 
    font-size: 15px; 
    line-height: 20px; 
    width: 100%;
}
.contentsBox > a {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    opacity: 0;
    color: black;
    padding: 5px 10px;
    transition: none;
}
.contentsBox > a:hover {color: black; border: 1px solid #7a7979; color: #7a7979;}
.product {position: absolute; bottom: 0; transform: translateY(50%); width: 100%;}
.product > h2 {padding: 0 10px; font-weight: 400; display: inline-block; background-color: #fff;}
.outBox:hover {opacity: 0.8;}
.outBox:hover img {transform: scale(1.1); opacity: 0.25;}
.outBox:hover .contentsBox {top: 7%; bottom: 7%;}
.outBox:hover p {opacity: 1; transition-delay: 0.35s;}
.outBox:hover a {opacity: 1; transition-delay: 0.35s;}

/* 620이하 */
@media screen and (max-width: 620px) {
.menuBtn {position: fixed; top: 2%; left: 3%; transform: translate(0,0); width: 35px; height: 30px; z-index: 999; }
.menuBtn.active {transform: rotate(360deg);top: 0; left: 0; transform: translate(50%,50%); }
.menuBtn.active span:nth-child(1) {transform: translateY(20px) rotate(-45deg);}
.menuBtn.active span:nth-child(2) {transform: translateY(5px) rotate(45deg);}
.menuBtn.active span:nth-child(3) {opacity: 0;}
.centerNavi {position: fixed; left: 50%; top: 0; width: 100px; height: 60px; z-index: 10;}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}
.left-part, .right-part {width: 100%; margin-bottom: 0; padding: 50px 10px 5%; box-sizing: border-box;}
.left-part {margin-left: 0;}
.right-part {margin-right: 0;}
.outBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    opacity: 0.9;
    border-radius: 20px;
}
.outBox > img {display: block; width: 400px;}
.contentsBox {
    position: absolute; 
    top: 88%;
    left: 50%;
    bottom: 6%;
    width: 90%; 
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid #000000;
}

}

/* 621이상 859이하 */
@media screen and (min-width:421px) and (max-width: 859px) {
.outBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 300px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    opacity: 0.9;
    border-radius: 20px;
}
.product > h2 {padding: 0 10px; font-weight: 400; font-size: 17px; display: inline-block; background-color: #fff;}
.contentsBox > a {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    opacity: 0;
    color: black;
    padding: 3px 7px;
    transition: none;
    font-size: 11px;
}
}

/* 860이상 1083이하 */
@media screen and (min-width:860px) and (max-width: 1083px) {
.outBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 400px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    opacity: 0.9;
    border-radius: 20px;
}
}

/* 1084이상 1400이하 */
@media screen and (min-width:1084px) and (max-width: 1400px) {


}



